<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light" style="margin-left: 10%; margin-right: 10%;"> 
    
    <%- include("../partials/nav.ejs") %>
    
    <div class="block" style="min-height: 400px;padding: 10px; border: solid; border-color: rgb(200, 200, 200); border-width: 2px; border-radius: 4px; margin-top: 50px;">
        <br>

        <div>
            <div class=" is-normal" style="display:inline-block; width: 200px; text-align: right; margin-right: 20px; padding-top: 7px;">
                Product:
            </div>
    
            <div class="select is-normal" style="display:inline-block;">
                <select>
                  <option>Select your option</option>
                  <option>With options"</option>
                </select>
            </div>
        </div>

        <br>

        <div>
            <div class=" is-normal" style="display:inline-block; width: 200px; text-align: right; margin-right: 20px; padding-top: 7px;">
                Product Version:

            </div>
    
            <div class="select is-normal" style="display:inline-block;">
                <select>
                  <option>Select your option</option>
                  <option>With options"</option>
                </select>
            </div>
        </div>
        
    </div>
    
    <%- include("../partials/footer.ejs") %>
    </body>
</html>

